; https://editorconfig.org
root = true

; default configuration
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab

[*.nix]
indent_style = space
indent_size = 2

[flake.lock]
indent_style = unset

[*.md]
indent_style = space
indent_size = 2
